In [37]:
range(5)

range(0, 5)

In [38]:
for i in range(5):
  print(i)

0
1
2
3
4

In [39]:
for i in range(1,5):
  print(i)

1
2
3
4

In [40]:
for i in range(1,5,2):
  print(i)

1
3

In [12]:
# for i in range(5,50,5):
#   print(i)
# 5
# 10
# 15
# 20
# 25
# 30
# 35
# 40
# 45
# 50

num = 6
for i in range(num,(num*10)+1,num):
   print(i)

6
12
18
24
30
36
42
48
54
60

In [13]:
# for i in range(50,4,-5)
# 50
# 45
# 40
# 35
# 30
# 25
# 20
# 15
# 10
# 5

num = 5
for i in range(num*10, num-1, -num):
    print(i)

50
45
40
35
30
25
20
15
10
5

In [20]:
# num1 = 1
# for j in range

num = 15
for i in range(num, (num*10)+1, num):
  print(f'{num} * {i//num}= {i}')

# alternate way
num = 15
count = 0
for i in range(num, (num*10)+1, num):
  count = count+1
  print(f'{num} * {count}= {i}')

15 * 1= 15
15 * 2= 30
15 * 3= 45
15 * 4= 60
15 * 5= 75
15 * 6= 90
15 * 7= 105
15 * 8= 120
15 * 9= 135
15 * 10= 150

In [28]:
num = 15
count = num + 1
for i in range(num*10, num-1, -num):
  count = count - 1
  print(f'{num} * {count}= {i}')

15 * 15= 150
15 * 14= 135
15 * 13= 120
15 * 12= 105
15 * 11= 90
15 * 10= 75
15 * 9= 60
15 * 8= 45
15 * 7= 30
15 * 6= 15

In [36]:
## Find numbers between 1 and 200 that are divisble by both 3 and 7

for i in range(1, 201):
  if i % 3 == 0 and i % 7 == 0:
    print(i)

21
42
63
84
105
126
147
168
189

In [52]:
## Count the numbers between 1 and 500 that are divisble by both 2, 3 and 7
count = 0
for i in range(1,501):
  if i % 2 == 0 and i % 3 == 0 and i % 7 == 0:
    count = count + 1
    print(count, i)

1 42
2 84
3 126
4 168
5 210
6 252
7 294
8 336
9 378
10 420
11 462

## Find the sum of first n natural numbers

In [58]:
sum = 0
n = 12
for i in range(1,n+1):
  sum = sum + i
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78

In [60]:
for i in range(1,11):
  print(i)
  if i == 5:
    continue

1
2
3
4
5
6
7
8
9
10

Find the first 10 numbers between 1 and 1000 that are divisible by all 3, 7 and 11

In [65]:
n = 10000
count = 0
for i in range(1,10001):
  if i % 3 == 0 and i % 7 == 0 and i % 11 == 0:
    count +=1
    print(count, i)

1 231
2 462
3 693
4 924
5 1155
6 1386
7 1617
8 1848
9 2079
10 2310
11 2541
12 2772
13 3003
14 3234
15 3465
16 3696
17 3927
18 4158
19 4389
20 4620
21 4851
22 5082
23 5313
24 5544
25 5775
26 6006
27 6237
28 6468
29 6699
30 6930
31 7161
32 7392
33 7623
34 7854
35 8085
36 8316
37 8547
38 8778
39 9009
40 9240
41 9471
42 9702
43 9933

In [70]:
n = 10000
count = 0
for i in range(1,n+1):
  if i % 3 == 0 and i % 7 == 0 and i % 11 == 0:
    count = count + 1
    print(count, i)
    if count == 10:
      break

1 231
2 462
3 693
4 924
5 1155
6 1386
7 1617
8 1848
9 2079
10 2310

In [71]:
name = 'Ayush Mehndiratta'
for i in name:
  print(i)

A
y
u
s
h

M
e
h
n
d
i
r
a
t
t
a

In [73]:
name = 'Ayush Mehndiratta'
for i in name:
  print(i, end=' ')

A y u s h   M e h n d i r a t t a

In [74]:
name = 'Ayush Mehndiratta'
for i in name:
  print(i, end='-')

A-y-u-s-h- -M-e-h-n-d-i-r-a-t-t-a-

Find the count of number of vowels inside the string that the user gives.

In [87]:
string = input('Give a string: ')
count = 0
vowels = 'aeiouAEIOU'
for char in string:
  if char in vowels:
    count += 1

print(f'The number of vowels are {count}')

Give a string: hgj aeiou hjg jgg
The number of vowels are 5